@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Fira Code', sans-serif; */
  background: '#121212';
}

#root {
  background-color: '#121212';
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.marker-cluster {
  background-color: #4c8bf5 !important;
}

.marker-cluster div {
  background-color: #386cc7 !important;
  color: #fff !important;
}

.leaflet-control-layers {
  display: none;
}

.leaflet-control-layers-expanded {
  font-family: 'Lato', sans-serif;
}

.menu-item {
  display: flex;
  justify-content: flex-start !important;
  padding-left: 10% !important;
  gap: 5%; 
}

.menu-item .MuiSwitch-root {
  pointer-events: none;
  margin-left: auto;
}

/* .MuiToggleButton-root {
  color: white !important;
}

.Mui-selected {
  background-color: #386cc7 !important;
} */

.info-card {
  max-width: 345px;
  position: fixed;
  top: 5vh;
  left: 1vw;
  z-index: 450;
  overflow-y: auto;
  /* resize: both; */
}