@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.marker-cluster {
  background-color: #4c8bf5 !important;
}

.marker-cluster div {
  background-color: #386cc7 !important;
  color: #fff !important;
}

.leaflet-control-layers-expanded {
  font-family: 'Lato', sans-serif;
}